
#container {
    width: 400px;
    height: 400px;
    border: solid black 1px;
    margin: 0px;
    padding: 0px;
    font-size: 0px;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#container>div {
    margin: 0px;
    padding: 0px;
    height: 40px;
    width: 40px;
    /* border: solid black 0.1px; */
    display: inline-block;
}

.gbtnm {
    text-align: center;
}

#start-btn {
    display: inline-block;
    text-align: center;
    margin: 0 auto;
}

.score {
    text-align: center;
}

.score__current,
.score__best {
    display: inline-block;
    padding: 7px;
}


.header {
    text-align: center;
    /* padding: 80px; */
}

.score {
    display: none;
}


.snake {
    background-color: blue;
}

.food {
    background-color: red;
}

