.hero {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem!important;
}

.hero__img {
    /* display: inline-block; */
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
}

.hero__subtitle {
    color: var(--color-slate800);
    font-size: var(--size-base);
    line-height: 0.9;
}

.hero__title {
    color: var(--color-slate400);
    font-size: var(--size-4xl);
    text-transform: uppercase;
    line-height: 0.9;
    letter-spacing: -0.05em;
}

.hero__description {
    max-width: 60ch;
    font-size: var(--size-sm);
    color: var(--color-slate600);
}

.hero__btn {
    text-transform: capitalize;
    font-size: var(--size-sm);
}


/* Xtra Small */
@media screen and (min-width: 475px) {
    .hero {
        gap: 1.5rem;
        /* CHANGES */
        /* justify-content: center;
        margin-top: 0!important; */
    }

    .hero__img {
        width: 6.5rem;
        height: 6.5rem;
    }

    .hero__subtitle {
        font-size: var(--size-lg);
    }

    .hero__title {
        font-size: var(--size-5xl);
    }

    .hero__description {
        font-size: var(--size-base);
    }

    .hero__btn {
        font-size: var(--size-base);
    }
}

/* Small */
/* @media screen and (min-width: 640px) {} */

/* Medium */
@media screen and (min-width: 768px) {
    .hero {
        /* CHANGES */
        /* height: calc(100vh - 100px); */
    }
}
/*  */
/* Large */
@media screen and (min-width: 1024px) {

    .hero__img {
        width: 8rem;
        height: 8rem;
    }

    .hero__subtitle {
        font-size: var(--size-xl);
    }

    .hero__title {
        font-size: var(--size-7xl);
    }

    .hero__description {
        font-size: var(--size-lg);
    }

    .hero__btn {
        font-size: var(--size-lg);
    }
}

/* Xtra Large */
@media screen and (min-width: 1280px) {
    .hero {
        gap: 2rem;
    }

    .hero__img {
        width: 10rem;
        height: 10rem;
    }

    .hero__subtitle {
        font-size: var(--size-4xl);
    }

    .hero__title {
        font-size: var(--size-9xl);
    }

    .hero__description {
        font-size: var(--size-xl);
    }

    .hero__btn {
        font-size: var(--size-xl);
    }
}

/* 2 Xtra Large */
/* @media screen and (min-width: 1536px) {} */