.mobile-nav {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background: var(--color-dark);
    display: none;
    justify-content: center;
    align-items: center;
}

.mobile-nav__menu {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.mobile-nav__link {
    text-decoration: none;
    font-size: var(--size-sm);
    font-weight: 600;
    color: var(--color-slate600);
    letter-spacing: -0.05em;
    transition: color 0.3s;
}

.mobile-nav__link:hover {
    color: var(--color-rose);
}

.mobile-nav__link-line {
    border: 1px solid var(--color-slate800);
    padding-right: 1.5em;
}


.mobile-nav__sun {
    display: block;
    width: var(--size-sm);
    height: var(--size-sm);
    color: var(--color-slate600);
}

.mobile-nav__btn {
    font-size: var(--size-sm);
}

