@import url('reset.css');
@import url('utils.css');

:root {
  --color-dark: #070a13;
  --color-light: #f1f5f9;
  --color-slate400: #94a3b8;
  --color-slate600: #475569;
  --color-слате800: #1e293b;
  --color-rose: #e11d48;
  --color-indigo: #4f46e5;
}

* {
  margin: 0;
  line-height: calc(1em + 0.5rem);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'General Sans', sans-serif;
  background-color: var(--color-dark);
  color: var(--color-light);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
}

button {
  display: inline-block;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  color: inherit;
}

a {
  color: var(--color-rose);
}

strong {
  color: var(--color-indigo );
}